{% extends 'core/base.html' %} 
{% block title%} Forget Password {% endblock title%}
{% block core_css%}

<style>
  body {
    background: #eee;
  }
</style>

{% endblock core_css%} 
{% block main_content %}
<div class="container">
  <div class="row">

    <div
      class="col-md-5 mx-auto  bg-light p-5"
      style="box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; margin-top:15%; background-color:white " >
      
        <form method="POST">
          {% csrf_token %}
          <h1>Enter Username ...</h1>
          <hr />
          {% if msz %}
          <div class="alert {{col}}">{{msz}}</div>
          {% endif %}
          
          <div class="form-group">
            <label><b>Username</b></label>
            <input
              type="text"
              class="form-control"
              name="send_uname"
              id="send_uname"
              required
            />
          </div>
          <button type="submit" class="btn btn-warning" name="send_uname_btn" width="40%" ><b>Submit</b></button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock main_content%} {% block core_js %}

<script>
  function check_pass() {
    let p = $("#pas").val();
    let cp = $("#cpas").val();

    if (p == cp) {
      $("#pas").css("border", "1px solid green");
      $("#cpas").css("border", "1px solid green");
      // $("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
      // $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
      $("#sbbtn").removeAttr("disabled");
    } else {
      $("#pas").css("border", "1px solid red");
      $("#cpas").css("border", "1px solid red");
      // $("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
      // $("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");

      $("#sbbtn").attr("disabled", "disabled");
    }
  }
</script>
{% endblock core_js%}
