{% extends 'core/base.html'%} {% load static %} {% block title %} Profile
page{%endblock %} {% block main_content %}
<div class="container" style="margin-top: 250px">
  <h1 class="text-center">Profile</h1>
  <div class="row">
    <div
      class="border shadow-lg p-4 bg-white rounded col col-md-7"
      style="margin: auto"
    >
      <table class="table table-hover">
        <input
          hidden
          type="number"
          name="user_detail_id"
          value="{{user_details.id}}"
        />
        <tr class="col">
          <td><label>Username </label></td>
          <td>{{user_detail.username}}</td>
        </tr>

        <tr>
          <td><label>E-mail </label></td>
          <td>{{user_detail.email}}</td>
        </tr>

        <tr>
          <td><label>First Name </label></td>
          <td>{{user_detail.first_name}}</td>
        </tr>

        <tr>
          <td><label>Last Name </label></td>
          <td>{{user_detail.last_name}}</td>
        </tr>

        <tr>
          <td><label> Mobile </label></td>
          <td>{{user_detail.mobile}}</td>
        </tr>

        <tr>
          <td><label> Address </label></td>
          <td>{{user_detail.address}}</td>
        </tr>

        <tr>
          <td><label> State </label></td>
          <td>{{user_detail.state}}</td>
        </tr>

        <tr>
          <td><label>Country</label></td>
          <td>{{user_detail.country}}</td>
        </tr>

        <tr>
          <td><label>Last login</label></td>
          <td>{{user_detail.last_login}}</td>
        </tr>
      </table>
    </div>
    <div class="col col-md-5 text-center">
      <div style="margin: auto">
<!---        <img
          src="{{ user_detail.photo.url }}"
          alt="profile_img"
          style="width: 250px; height: 250px"
          class="m-5"
        />

        <form
          method="POST"
          action="{% url 'update_profile_img' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <label class="col col-7 btn btn-dark mb-5" style="width: 50%">
            <input type="file" id="myFile" name="profile_img" />
          </label>
          <button
            type="submit"
            name="update_profile_img_btn"
            class="col col-4 btn btn-light mb-5"
          >
            <b>Save</b>
          </button>
        </form>-->

        <button
          type="button"
          class="btn btn-outline-primary"
          data-toggle="modal"
          data-target="#EditProfile"
          style="width: 80%"
        >
          <b>Edit Profile</b>
        </button>
        <a
          href="{% url 'changepass' %}"
          type="button"
          class="btn btn-outline-primary mt-5"
          style="width: 80%"
        >
          <b>Change Password</b>
        </a>
      </div>
      <!-- Edit Profile Modal -->
      <div
        class="modal fade"
        id="EditProfile"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                Edit Details
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <input
                  hidden
                  type="number"
                  name="user_detail_id"
                  value="{{user_details.id}}"
                  
                />
                <div class="form-group">
                  <label
                    ><i class="fa fa-user" aria-hidden="true"></i>
                    <b>Username :</b></label
                  >
                  <input
                    type="text"
                    id="id_uname"
                    name="username"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label>
                    <b>First Name :</b>
                  </label>
                  <input type="text" name="first_name" class="form-control" required />
                </div>

                <div class="form-group">
                  <label>
                    <b>Last Name :</b>
                  </label>
                  <input type="text" name="last_name"  class="form-control" required/>
                </div>

                <div class="form-group">
                  <label
                    ><i class="fa fa-mobile" aria-hidden="true"></i>
                    <b>Mobile :</b></label
                  >
                  <input
                    type="text"
                    id="id_mobile"
                    name="mobile"
                    class="form-control"
                    required
                    pattern="[7-9]{1}[0-9]{9}"
                    title="must contain 10 digit and should start from 7,8 or 9"
                  />
                </div>

                <div class="form-group">
                  <label
                    ><i class="fa fa-envelope" aria-hidden="true"></i>
                    <b>E-Mail :</b></label
                  >
                  <input
                    type="email"
                    id="id_email"
                    name="email"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label>
                    <b>Address :</b>
                  </label>
                  <input
                    type="text"
                    id="id_Address"
                    name="address"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label>
                    <b>State :</b>
                  </label>
                  <input
                    type="text"
                    id="id_state"
                    name="state"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label>
                    <b>Country :</b>
                  </label>
                  <input
                    type="text"
                    id="id_country"
                    name="country"
                    class="form-control"
                    required
                  />
                </div>

                <label id="label" style="color: red; visibility: hidden">
                  *** password not matched
                </label>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="Submit"
                  class="btn btn-primary"
                  name="save_editdetail_btn"
                >
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-----end edit profile modal-->

      <a
        href="{% url 'orders' %}"
        type="button"
        class="btn btn-outline-warning mt-5"
        style="width: 80%"
      >
        <b>Your Orders</b>
      </a>
    </div>
  </div>
</div>
{% endblock%}
